html {
	font-size: 50%;
    @include media($small-screen) {
      font-size: 56.25%;
    }
    @include media($medium-screen) {
      font-size: 62.5%;
    }	
}

a {
  word-wrap: break-word;
}

.skip {
	a, a:hover, a:visited, a:active, a:focus {
		position: absolute; 
		left: 0px; 
		top: -10000px; 
		width: 1px; 
		height: 1px; 
		overflow: hidden;
	}
	a:active, a:focus { 
		position: static; width: auto; height: auto;
	}  
}

#maindiv {
	max-width: 980px;
	padding: 0 1em;
	margin: auto;
		@include transform(translateX(0));	
        @include transition(all 0.25s ease-in-out);

    &.active {
        @include transform(translateX(-15em));	
    }   
    li:before {
    	content: "\00b7";
	}
	#center {
		/* homepage */
		#regions,
		#latest_news {
		  width: auto !important;
		  padding: 0 !important;
		}
		dd {
			margin: 0 .25em 1em .25em;
		}
		.tabs {
			li:before {
				display: none;
			}	
		}
		.tab-content {
			padding: 0 16px 0 0;
		}
		.tab-links {
			li {
				width: 33.3%;
			}
		}
	}
	

}

#noaa-navspace {
	height: 5em;
	margin: 1em 0;
	background: url(/assets/img/noaa-wrc-logo.svg) left top no-repeat;
	img {
		display: none;
	}
}

#noaa-nav {
	ul {
		display: none;
	}
}

.green_seperator {
	display: none;
}

#center {
	img {
		width: 100%;
		&#disclaimer {
			width: auto;
		}
	}
	h1 {
		margin-top: 1em;
	}
}

#left-nav {
	background: $color-gray-dark;
	position: fixed;
	top: -1em;
	bottom: 0;
	width: 15em;
	right: -15em;
	height: 100%;
	ul {
		margin: 2em 0 0 1em;	
	}
	li {
		&.cat_title {
			color: $color-gray-lighter;
			padding-top: 2em;
			text-transform: uppercase;
			&:before {
			    content: "";
			    display: block;
			    margin-bottom: 1em;
			}
			&:after {
				border-bottom: 1px solid #888;
				padding: .25em 0 0 0;
			}
		}
	}
	li:before {
		content: "";
		display: none;
	}	
	a {
		color: $color-gray-lighter;
		padding-right: 1em;
	}
	a:focus {
		box-shadow: none;
	}
}

.menu-link {
	position: absolute;
	top: 15px;
	left: -50px;
	height: 35px;
	width: 35px;
	background: url(/assets/img/bars.svg) center center no-repeat;
	@include transition(all 0.5s ease-in-out);
}

.left_navigation.active {
	.menu-link {
		background: url(/assets/img/close.svg) center center no-repeat;
		@include transition(all 0.5s ease-in-out);
	}	
}

.sidenav {
	background: #A7DAF5;
	li:before {
    	display: none;
	}
}

#slide_show {
	position: relative;
	border: 1px solid green;
	height: auto;
	ul {
		height: auto;
		border: 1px solid red;
		margin: 0;
		padding: 0;	
	}
	li {
		position: absolute;
		top: 0;
		left: 0;	
	}
	.slider_image {
		height: auto;
		width: 100%;
		margin: 0;
		padding: 0;
		border: 1px solid purple;
		background-size:   cover;    
	}
}

#footer {
	background-color: #092866;
	color: #fff;
	@include outer-container;
	#footer1 {
		@include span-columns(4);
	}
	#footer2 {
		@include span-columns(4);
	}
	#footer-logos {
		@include span-columns(4);
	}
	li:before {
    	display: none;
	}	
}